.conteudo1 {
    border: 1px solid red;
    background: orange;
    width: 200px;
    height: 200px;
    position: absolute;
}

.conteudo2 {
    border: 1px solid red;
    background: green;
    width: 200px;
    height: 200px;
    position: absolute;
}