a {
    font-weight: bolder;
    font-size: 1.2em;
    text-decoration: none;
    padding-left: 7px;
}

/* Links não visitados */
a:link {
    color: #b9c941;
}

/* Links visitado */
a:visited {
    color: #c0c0c0;
}

/* Links hover, passa o cursor sobreo links */
a:hover {
    color: #6d790f;
}

/* Links ativos, quando clicado */
a:active {
    color: #e4f371; 
}